{% extends "AppCoder/plantilla_base.html" %}

{% block contenido_base %}

<!-- Cuerpo-->
{% if exitoso %}
<div style="background-color:#545052;">¡Tu reserva fue agendada!</div>
{% endif %}

<h1>FIFA World Cup Qatar 2022</h1>

¡Bienvenido a la página oficial de mundial de Qatar 2022! <br>

<center><img id="currentPhoto" src="" onerror="this.onerror=null; this.src='https://www.palco23.com/files//2020/19_redaccion/competiciones/futbol/fifa/fifa-mundial-trofeo-recurso-728.jpg'" alt="" width="1000" height="500">

{% endblock contenido_base %}
