{% extends "AppCoder/plantilla_base.html" %}

{% block contenido_base %}

<!-- Cuerpo-->
{% if exitoso %}
<div style="background-color:#545052;">¡Tu reserva fue agendada!</div>
{% endif %}

<h1>Página de Inicio</h1>

<img id="currentPhoto" src="https://images.pagina12.com.ar/styles/focal_3_2_470x313/public/2022-08/563641-mundial.jpg?itok=hpVR4cxz" onerror="this.onerror=null; this.src='https://images.pagina12.com.ar/styles/focal_3_2_470x313/public/2022-08/563641-mundial.jpg?itok=hpVR4cxz'" alt="" width="300" height="180">

{% endblock contenido_base %}
