{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
  .eliminado {
    background-color: red;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Jugadores</h1>
<a href="{% url 'crear_jugador' %}">Crear jugador</a>
<br>
<a href="{% url 'busqueda_jugador_form' %}">Buscar Jugador</a>

<br><br>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>
        <strong>Apellido</strong>
      </th>
        <th>
          <strong>Posición</strong>
        </th>
        <th>
          <strong>País</strong>
        </th>
      </tr>
    {% for jugador in jugadores %}
    <tr>
      <td>{{jugador.nombre}}</td>
      <td>{{jugador.apellido}}</td>
      <td>{{jugador.posicion}}</td>
      <td>{{jugador.pais}}</td>
      <td><a href="{% url 'editar_jugador' jugador.id %}">Editar</a></td>
      <td><a href="{% url 'eliminar_jugador' jugador.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}