{% extends "AppCoder/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Reservas</h1>
<a href="{% url 'crear_reserva' %}">Crear Reserva</a>
<br>
<a href="{% url 'busqueda_reserva_form' %}">Buscar Reserva</a>

<br><br>
<h3>Reservas:</h3>

<table class="coder-table">
  <tbody>
    <tr>
      <th>
        <strong>Nombre</strong>
      </th>
      <th>
        <strong>E-mail</strong>
      </th>
        <th>
          <strong>Equipo</strong>
        </th>
        <th>
          <strong>Fecha</strong>
        </th>
      </tr>
    {% for reserva in reservas %}
    <tr>
      <td>{{reserva.nombre}}</td>
      <td>{{reserva.email}}</td>
      <td>{{reserva.equipo}}</td>
      <td>{{reserva.fecha}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}